{
	BasedOnStyle: "LLVM",
	IndentWidth: 4,
	AlignAfterOpenBracket: Align,
	AlignConsecutiveMacros: 'true',
	AlignEscapedNewlines: Left,
	AlignOperands: 'true',
	AlignTrailingComments: 'true',
	AllowAllConstructorInitializersOnNextLine: 'false',
	AllowShortBlocksOnASingleLine: 'false',
	AllowShortCaseLabelsOnASingleLine: 'false',
	AllowShortFunctionsOnASingleLine: InlineOnly,
	AllowShortIfStatementsOnASingleLine: Never,
	AllowShortLoopsOnASingleLine: 'false',
	BinPackArguments: 'true',
	BinPackParameters: 'true',
	Cpp11BracedListStyle: 'true',
	SpaceBeforeRangeBasedForLoopColon: 'false',
	SpaceInEmptyParentheses: 'false',
	SpacesInAngles: 'false',
	SpacesInCStyleCastParentheses: 'false',
	SpacesInContainerLiterals: 'false',
	SpacesInParentheses: 'false',
	ColumnLimit: '0'
}